* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-pink: hsl(275, 100%, 97%);
    --grayish-purple: hsl(292, 16%, 49%);
    --dark-purple: hsl(292, 42%, 14%);
}

body{
    font-family: "Work Sans", sans-serif;
    background-color: var(--light-pink);
    display: grid;
    place-content: center;
    min-height: 100vh;
    padding: 5rem 2.5rem;
}

.bg{
    width: 100%;
    height: 35vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.accordion{
    width: min(37.5rem, calc(100% - 5rem));
    border-radius: 1rem;
    background-color: var(--white);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 25px;
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.1);
}

.accordion_title{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card_title h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.accordion_panel {
    border-bottom: 1px solid var(--light-pink);
    padding: 1.5rem 0;
}

.accordion_panel:first-of-type{
    padding-top: 0;
}

.accordion_panel:last-child{
    border-bottom: none;
}

.accordion_panel h2{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.accordion_trigger{
    border: none;
    background: transparent;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: start;
    cursor: pointer;
    transition: 0.3s;
}

.accordion_trigger:hover,
.accordion_trigger:focus {
    color: hsl(281, 83%, 54%);
}

.accordion_buttons{
    cursor: pointer;
}

.accordion_trigger[aria-expanded="true"] ~ .accordion_buttons .plus {
  display: none;
}

.accordion_trigger[aria-expanded="false"] ~ .accordion_buttons .minus {
  display: none;
}

.accordion_content{
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
    color:var(--grayish-purple);
}

.accordion_content > p{
    overflow: hidden;
    transition: 0.5s ease-out;
    font-weight: 400;
    line-height: 1.5rem;
}

.accordion_content[aria-hidden = "false"]{
    grid-template-rows: 1fr;
}

.accordion_content[aria-hidden = "false"] > p{
    margin-top: 1rem;
}

@media screen and (min-width: 640px) {
    .accordion{
        padding: 2.3rem;
    }
}

@media screen and (min-width: 1440px) {
    .accordion_title{
        margin-bottom: 2rem;
    }
    .accordion_title h1{
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 375px) {
    .bg{
        background-image: url("./assets/images/background-pattern-mobile.svg");
    }
}